.curvyOnTop::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 50%;
	border-radius: 100% 50%;
	background-color: rgb(207 250 254 / var(--tw-bg-opacity));
	// border: 1px solid black;
	transform: translate(55%, -20%);
	z-index: -1;
}

.curvyOnTop::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 50%;
	border-radius: 100% 50%;
	background-color: rgb(207 250 254 / var(--tw-bg-opacity));
	// border: 1px solid black;
	transform: translate(-20%, -20%);
	z-index: -1;
}
